<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Contatos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container" id="app">
        <div class="row mt-5">
            <div class="col-12 border-bottom mb-5">
                <h2> {{ name }} </h2>
            </div>
            
            <div class="col-4">
                
                <form action="">
                    <!-- Podemos passar um objeto para v-bind:class para alternar classes dinamicamente:-->
                    <div class="form-group mr-1">
                        <label>Nome</label>
                        <input type="text" class="form-control" v-model="contact.name" placeholder="Nome Completo...">
                    </div>
                    
                    
                    <div class="form-group mr-1">
                        <label>E-mail</label>
                        <input type="email" class="form-control" v-model="contact.email" placeholder="Seu melhor email...">
                    </div>
                    
                    <div class="form-group mr-1">
                        <label>Contato</label>
                        <input type="phone" class="form-control" v-model="contact.phone" placeholder="Telefone/Celular">
                    </div>
                    
                    <div class="form-group ml-1">
                        <button v-if="!isEdit" class="btn btn-lg btn-rounded btn-success" v-on:click.prevent="saveContact(contact)">Criar Contato</button>
                        <button v-if="isEdit" class="btn btn-lg btn-rounded btn-primary" v-on:click.prevent="udateContact(contact)">Atualizar Contato</button>
                    </div>
                </form>
            </div>
            
            <div class="col-8 border-left">
                
                <div class="contact">
                    
                    <div class="col-12 mb-2" v-for="contact in contacts">
                        
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"> {{ contact.name }} </h5>
                                
                                <p class="card-text">Email: {{contact.email}} </p>
                                <p class="card-text">Fone: {{contact.phone}} </p>
                                
                                <a href="#" class="btn btn-sm btn-primary" @click.prevent="editeContact(contact)">EDITAR</a>
                                <a href="#" class="btn btn-sm btn-danger"  @click.prevent="removeContact(contact.id)">DELETAR</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        let app= new Vue ({
            el:"#app",
            data: {
                contacts: [],
                name: 'Contatos App',
                contact: {
                    id: '',
                    name: '',
                    email: '',
                    phone: ''
                },
                isEdit: false
            },
            created() {
                this.contacts = JSON.parse(localStorage.getItem('contactsApp'));
            },
            methods: {
                saveContact(contact) {
                    let contacts = localStorage.getItem('contactsApp');
                    contact.id = new Date().getTime();
                    //A chave que vai conter os contact é contactsApp
                    if(contacts) {
                        contacts = JSON.parse(contacts);
                        contacts.push(contact);
                        //atualiza meus contatos no local stoeage
                        //push adiciona um novo elemento ao final de um array
                        //Em JSON.parse é o inverso de JSONstringify ele vai passear pela json passando as informações para o objeto
                    } else {
                        contacts = [contact];
                        //caso não tenha vai criar esta chave contatos
                    }
                    this.contacts = contacts;
                    //o atualizar local storage idependente de novo contato ou nova adição.
                    localStorage.setItem('contactsApp', JSON.stringify(contacts));
                    //A informação passada no else é salva no array contacts e é salva na chave'contacs'
                    //JSON.stringify converte valores em javascript para uma String  JSON.
                    location.reload();
                },
                removeContact(contactId) {
                    let contacts = localStorage.getItem('contactsApp'); //pega os contatos do localStorage

                    if(!contacts) return; //Se não ouver contato retorna não tem porque executar

                    contacts = JSON.parse(contacts); //Tendo contato eu passo de json para array com os objetos

                   contacts = contacts.filter((contact) => { //Vai filtrar passando todos os contatos menos o informado assim é atualizado sem o contato que selecionou para deletar
                        return contact.id != contactId;
                    });
                    this.contacts = contacts; // Atualizo o array contacts com esse novo array que esta sem o contato informado.
                    localStorage.setItem('contactsApp', JSON.stringify(contacts));
                },
                editeContact(contact) {
                    this.contact = contact;
                    this.isEdit = true;
                },
                udateContact(contact) {
                    let contacts = this.contacts.map(contactMap => {
                        if(contactMap.id == contact.id) {
                            return contact;
                        }
                            return contactMap;
                    });
                    this.contacts = contacts;
                    this.isEdit = false;
                    localStorage.setItem('contactsApp', JSON.stringify(contacts));

                    location.reload();
                }
            }
        });
    </script>
    
</body>
</html>